/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Arial-Black";
  src: url("./fonts/arial-black.eot"); /* IE9 Compat Modes */
  src: url("./fonts/arial-black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/arial-black.otf") format("opentype"), /* Open Type Font */
    url("./fonts/arial-black.svg") format("svg"), /* Legacy iOS */
    url("./fonts/arial-black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/arial-black.woff") format("woff"), /* Modern Browsers */
    url("./fonts/arial-black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}